#header {
  height: 12.083vw;
  padding: 4.027vw 6.8vw 0 6.8vw;
  width: 100%;
  box-shadow: 0px 0.069vw 0.069vw 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  .wrapper {
    width: 86.111vw;
    .header-inner {
      display: flex;
      justify-content: space-between;
      align-items: end;
      height: 3.0556vw;
      width: 100%;
      .logo {
        height: 100%;
        img {
          height: 100%;
        }
      }
      .search {
        display: flex;
        align-items: center;
        height: 100%;
        width: 36.597vw;
        border: 0.028vw solid #00575c;
        border-radius: 6.944vw;
        padding-left: 1.042vw;
        span {
          color: #00575c;
          margin-right: 0.556vw;
          font-size: 1.111vw;
        }
        input {
          height: 2.917vw;
          width: 27.292vw;
          border: none;
          font-size: 0.972vw;
          color: #000;
          outline: none;
        }
        button {
          width: 6.389vw;
          height: 2.778vw;
          border-radius: 6.944vw;
          border: none;
          color: white;
          background-color: #00575c;
          font-size: 0.903vw;
        }
      }
      .icon {
        width: 4.376vw;
        align-self: center;
        display: flex;
        justify-content: space-between;
        position: relative;
        span {
          color: #00575c;
        }
        .user-menu {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1;
          li {
            width: 6.597vw;
            height: 1.736vw;
            background-color: #fff;
            border-bottom: #000;
            padding-left: 0.347vw;
            &:hover {
              background-color: #00575c;
            }
            &:hover a {
              color: #fff;
            }
            a{
              color: #000;
            }
          }
        }
      }
    }
    .header-menu {
      height: 5vw;
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        li {
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          position: relative;
          a {
            width: 100%;
            font-size: 1.042vw;
            color: black;
            font-weight: 600;
            &:hover {
              color: #00575c;
            }
          }
          span {
            font-size: 0.764vw;
          }
          .submenu-dogs {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            display: none;
            li {
              width: 16.667vw;
              height: 2.431vw;
              background-color: #fff;
              border-bottom: #000;
              padding-left: 15p.042vw;
              &:hover {
                background-color: #00575c;
              }
              &:hover a {
                color: #fff;
              }
            }
          }
          &:hover .submenu-dogs {
            display: block;
          }

          .submenu-cats {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            display: none;
            li {
              width: 12.847vw;
              height: 2.431vw;
              background-color: #fff;
              border-bottom: #000;
              padding-left: 1.042vw;
              &:hover {
                background-color: #00575c;
              }
              &:hover a {
                color: #fff;
              }
            }
          }
          &:hover .submenu-cats {
            display: block;
          }
          .submenu-accessories {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            display: none;
            li {
              width: 11.806vw;
              height: 2.431vw;
              background-color: #fff;
              border-bottom: #000;
              padding-left: 1.042vw;
              &:hover {
                background-color: #00575c;
              }
              &:hover a {
                color: #fff;
              }
            }
          }
          &:hover .submenu-accessories {
            display: block;
          }
          .submenu-foods {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            display: none;
            li {
              width: 14.583vw;
              height: 2.431vw;
              background-color: #fff;
              border-bottom: #000;
              padding-left: 1.042vw;
              &:hover {
                background-color: #00575c;
              }
              &:hover a {
                color: #fff;
              }
            }
          }
          &:hover .submenu-foods {
            display: block;
          }
        }
      }
    }
  }
}
