#login {
  width: 100%;
  height: 100%;
  .wrapper {
    width: 100%;
    height: 100%;
    .nav {
      padding: 0 6.944vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 4.792vw;
      img {
        height: 100%;
      }
      p {
        color: #00575c;
        font-size: 1.111vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .content {
      width: 100%;
      height: 53.819vw;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
      .form {
        position: absolute;
        top: 3.125vw;
        right: 14.583vw;
        width: 35.347vw;
        height: 45.764vw;
        background-color: #fff;
        padding: 2.917vw 3.472vw 4.722vw 3.472vw;
        >p {
          font-size: 2.222vw;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 0.972vw;
        }
        .signup {
          display: flex;
          justify-content: space-between;
          height: 1.319vw;
          width: 16.667vw;
          margin-bottom: 1.667vw;
          p {
            color: #7a7a7a;
            font-size: 1.111vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          a {
            color: #00575c;
            font-size: 1.111vw;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
        .account {
          width: 100%;
          height: 3.194vw;
          margin-bottom: 1.667vw;
          border-radius: 6.944vw;
          border: 0.035vw solid #7a7a7a;
          padding-left: 1.736vw;
        }
        .password {
          width: 100%;
          height: 3.194vw;
          margin-bottom: 1.667vw;
          border-radius: 6.944vw;
          border: 0.035vw solid #7a7a7a;
          padding-left: 1.736vw;
        }
        .submit {
          width: 100%;
          height: 3.194vw;
          border-radius: 6.944vw;
          background-color: #00575c;
          border: none;
          color: #fff;
          text-align: center;
          font-size: 1.111vw;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 1.111vw;
        }
        .help {
          width: 100%;
          height: 1.111vw;
          display: flex;
          justify-content: space-between;
          margin-bottom: 2.222vw;
          a {
            color: #00575c;
            font-size: 0.972vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .line {
          position: relative;
          height: 0.035vw;
          border: 0.035vw solid #7a7a7a;
          margin-bottom: 2.222vw;
          p {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0.069vw 0.486vw 0.278vw 0.486vw;
            background-color: #fff;
            color: #7a7a7a;
            font-size: 0.972vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .google {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 28.403vw;
          height: 3.333vw;
          border-radius: 6.944vw;
          border: 0.035vw solid #7a7a7a;
          background-color: #fff;
          margin-bottom: 0.972vw;
          padding: 0 8.333vw;
          img {
            width: 1.944vw;
            height: 1.944vw;
          }
          p {
            width: 9.306vw;
            height: 1.111vw;
            color: #000;
            font-size: 0.972vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .facebook {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 28.403vw;
          height: 3.333vw;
          border-radius: 6.944vw;
          border: 0.035vw solid #7a7a7a;
          background-color: #fff;
          margin-bottom: 0.972vw;
          padding: 0 7.986vw;
          img {
            width: 1.667vw;
            height: 1.667vw;
          }
          p {
            width: 10.417vw;
            height: 1.111vw;
            color: #000;
            font-size: 0.972vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .apple {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 28.403vw;
          height: 3.333vw;
          border-radius: 6.944vw;
          border: 0.035vw solid #7a7a7a;
          background-color: #fff;
          padding: 0 8.819vw;
          img {
            width: 1.667vw;
            height: 1.667vw;
          }
          p {
            width: 125px;
            height: 1.111vw;
            color: #000;
            font-size: 0.972vw;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
}
