#signup {
  width: 100%;
  height: 100%;
  .wrapper {
    width: 100%;
    height: 100%;
    .nav {
      padding: 0 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 69px;
      img {
        height: 100%;
      }
      p {
        color: #00575c;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .content {
      width: 100%;
      height: 775px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
      .form {
        position: absolute;
        top: 45px;
        right: 210px;
        width: 509px;
        height: 659px;
        background-color: #fff;
        padding: 42px 50px 68px 50px;
        >p {
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 14px;
        }
        .signin {
          display: flex;
          justify-content: space-between;
          height: 19px;
          width: 260px;
          margin-bottom: 24px;
          p {
            color: #7a7a7a;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          a {
            color: #00575c;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
        .account {
          width: 100%;
          height: 46px;
          margin-bottom: 24px;
          border-radius: 100px;
          border: 0.5px solid #7a7a7a;
          padding-left: 25px;
        }
        .next {
          width: 100%;
          height: 46px;
          margin-bottom: 33px;
          border-radius: 100px;
          background-color: #00575c;
          border: none;
          color: #fff;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        .line {
          position: relative;
          height: 0.5px;
          border: 0.5px solid #7a7a7a;
          margin-bottom: 32px;
          p {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 1px 7px 4px 7px;
            background-color: #fff;
            color: #7a7a7a;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .google {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 409px;
          height: 48px;
          border-radius: 100px;
          border: 0.5px solid #7a7a7a;
          background-color: #fff;
          margin-bottom: 14px;
          padding: 0 120px;
          img {
            width: 28px;
            height: 28px;
          }
          p {
            width: 134px;
            height: 16px;
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .facebook {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 409px;
          height: 48px;
          border-radius: 100px;
          border: 0.5px solid #7a7a7a;
          background-color: #fff;
          margin-bottom: 14px;
          padding: 0 115px;
          img {
            width: 24px;
            height: 24px;
          }
          p {
            width: 150px;
            height: 16px;
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .apple {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 409px;
          height: 48px;
          border-radius: 100px;
          border: 0.5px solid #7a7a7a;
          background-color: #fff;
          padding: 0 127px;
          margin-bottom: 32px;
          img {
            width: 24px;
            height: 24px;
          }
          p {
            width: 125px;
            height: 16px;
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .connect {
          margin: 0 auto    ;
          width: 280px;
          height: 32px;
          text-align: center;
          span {
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-right: 5px;
          }
          a {
            color: #00575c;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
